<!-- admin -->
<div class="container" ng-controller="HomeController as home" ng-if="main.user.type=='admin'">
	<ol class="breadcrumb" style="background-color: white">
	  <li class="active"><a href="/" ><span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 4px;"></span>Home</a></li>
	</ol>
	
	<div class="row">

		<h1 class="text-center" style="color: #510f03; font-size: 50px;" >Leaving Records</h1>

	</div>
	<br><br><br>
	<div class="row">

		<div class="col-sm-4 col-md-4" ng-init="pendingData()">

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 24px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right: 12px;"></span>Pending Leaves</h3>
			  </div>
			  <div class="panel-body" style="background: #eff4ff">
			   <h1 class="text-center jumbotron" style="font-size: 80px;" >{{ pendingLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

		<div class="col-sm-4 col-md-4" ng-init="acceptedData()">

			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 24px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="padding-right: 12px;"></span>Accepted Leaves</h3>
			  </div>
			  <div class="panel-body" style="background: #effff9;">
			   <h1 class="text-center jumbotron" style="font-size: 80px;" >{{ acceptedLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

		<div class="col-sm-4 col-md-4" ng-init="rejectedData()">

			<div class="panel panel-danger">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 24px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="padding-right: 12px;"></span>Rejected Leaves</h3>
			  </div>
			   <div class="panel-body" style="background: #ffeff3;">
			   <h1 class="text-center jumbotron" style="font-size: 80px;" >{{ rejectedLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

	</div>
</div>
<!-- employee -->
<div class="container" ng-controller="HomeEmployeeController as home" ng-if="main.user.type=='employee'">
	<ol class="breadcrumb" style="background-color: white">
	  <li class="active"><a href="/" ><span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 4px;"></span>Home</a></li>
	</ol>
	
	<div class="row">



	</div>
	<br><br><br>

	<div class="row" ng-init="totalLeaves()">
		
		<div class="col-sm-6 col-md-6 text-center" >

			

		<span class="label label-success" style="padding-right: 40px; padding-left: 40px; padding-top: 15px; padding-bottom: 15px; font: normal bold 40px Work san, sans-serif;"">Total Leaves &nbsp<span class="badge" style="font-size: 36px; color: white;">{{ total }}</span></span>
			
		</div>

		<div class="col-sm-6 col-md-6 text-center" >

			<span class="label label-warning" style="padding-right: 40px; padding-left: 40px; padding-top: 15px; padding-bottom: 15px; font: normal bold 40px Work san, sans-serif;"">Remaining Leaves &nbsp<span class="badge" style="font-size: 36px; color: white;">{{ remaining }}</span></span>

			
			
		</div>

	</div>
	<br><br><br>
	<div class="row">

		<div class="col-sm-4 col-md-4" ng-init="pendingData()">

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 16px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right: 12px;"></span>Pending Leaves</h3>
			  </div>
			  <div class="panel-body" style="background: #eff4ff">
			   <h1 class="text-center jumbotron" style="font-size: 50px;" >{{ pendingLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

		<div class="col-sm-4 col-md-4" ng-init="acceptedData()">

			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 16px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="padding-right: 12px;"></span>Accepted Leaves</h3>
			  </div>
			  <div class="panel-body" style="background: #effff9;">
			   <h1 class="text-center jumbotron" style="font-size: 50px;" >{{ acceptedLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

		<div class="col-sm-4 col-md-4" ng-init="rejectedData()">

			<div class="panel panel-danger">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 16px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="padding-right: 12px;"></span>Rejected Leaves</h3>
			  </div>
			   <div class="panel-body" style="background: #ffeff3;">
			   <h1 class="text-center jumbotron" style="font-size: 50px;" >{{ rejectedLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

	</div>

	
	</div>
</div>

<!-- others -->

<div class="row">
<!-- infinite -->
<div ng-if="!main.loggedIn" class="col-md-12">
	<br><br><br><br><br><br>
	<h1 class="animated  flipInY jumbotron text-center"> Tubelight <3 ! &nbsp &nbsp  <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> 
</button></h1>
	
</div>
</div>

<br>


<!-- admins -->
<div class="container" ng-if="main.user.type=='admins'">

	<div class="col-md-12 col-md-offset-11">
		<a type="button" href="/newcase" class="btn btn-success btn-sm" >&nbsp New Case &nbsp </a>
	</div>
	
	<div class="col-md-12">

		<h1 class="text-center" style="color: #131d70">Trace Records</h1>
		<br><br>
		<div class="row">
		<div ng-controller="TraceController" ng-init="fetchData()" >	
		 <style type="text/css">
		 	table {
			    counter-reset: rowNumber;
			}

			table tr {
			    counter-increment: rowNumber;
			}

			table tr td:first-child::before {
			    content: counter(rowNumber);
			    min-width: 1em;
			    margin-right: 1.5em;
			}
		 </style>


		  <table class="table table-striped table-hover table-responsive table-condensed" ng-if="namesData.length>0">
		    <thead style=" border-bottom:20px solid white;">
		      <tr style="color : #151e60; font: normal bold 16px/25px work san , sans-serif;">
		      	<th>Hit</th>
		      	<th>IP</th>
		      	<th>city</th>
		      	<th>province</th>
		      	<th>country</th>
		      	<th>ISP</th>
		      	<th>date</th>
		      	<th>time</th>
		      	<th>view</th>
		        
		       
		      </tr>
		      <br>
		    </thead>
		    <br>
		    <tbody>
		     
		      <tr ng-repeat="data in namesData | reverse" ng-include="getTemplate(data)"> 
		     
		      </tr>
		    </tbody>
		  </table>
		  <br>
		
		<script type="text/ng-template" id="display">
			<td></td>
			<td>{{data.ip}}</td>
			<td>{{data.city}}</td>
			<td>{{data.province}}</td>
			<td>{{data.country}}</td>
			<td>{{data.isp}}</td>
            <td>{{data.date | date: "fullDate"}}</td>
            <td>{{data.date | date: "shortTime"}}</td>
            <td>{{data.view}} &nbsp &nbsp</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" ng-click="deleteData(data._id)">Delete</button>
            </td>
            
        </script>
        
        </div>
		</div>
	
	</div>

</div>
