<div>

	<!-- song 04 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#04</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				සිනා තොටක් විය ඔබ පාමුල මා ලද සරදම්<br>
				මහෝඝයක් විය ඔබෙන් ලැබූ අපමණ අබිමන්<br>
				නොහඬා ඉන්නම් ගිලිහුණු දා පෙම් ලොව මල් දම්<br>
				<b style="font-size: 18px;">දුටුව නිසා ආදරයේ දෙව් රුව ඔබගෙන් මං </b>....<br><br>

				බෝසත් ඔබ සිත ළඟ උවැසිය වී දැහැනට වී<br>
				සිටියා මිස නොදනිමි කොහි සිටියා දැයි මල වී<br>
				පුදසුන් මත මිය යද්දී සහසක් මල් පර වී<br>
				නොපිදූ මල තවමත් ඇත ඔබ ගැන බැතිබර වී....<br><br>

				මගෙන් මිදුණු ලොව ඔබට මිහිරි නම් එය සැපකී<br>
				ඔබට ළංව දුක බෙදා ගන්න බැරිකම දුකකී..<br>
				මෙවැනි බැඳුම් අදහනු බැරි ලෝකය සිර ගෙයකී<br>
				එවන් ලොවක මේ හමුවීමත් වාවනු නොහැකී....<br><br>

				<audio controls>
			 		 <source src="app/views/audios/sina_thotak.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>



	<!-- song 03 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-warning">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#03</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				රාත්රිය මනරම් කියා <br>
				සඳට තරුවට කවි ලියා <br>
				මාත් මගේ හිත හදාගන්නම් <br>
				නුඹත් මා ලඟ නැති නිසා<br><br>

				මගේ කවියක පද ගයා<br>
				දෑස් දෙකොනේ තෙත තියා<br>
				නුඹත් රෑ නිදි වරාගෙන ඇති<br>
				මාත් නුඹ ලඟ නැති නිසා<br><br>

				හිරු සඳුත් හමුවෙන් නැතේ<br>
				එකම අහසේ පායනා<br>
				ඉතින් දුක් වෙන්නේ කිමද අපි<br>
				<b style="font-size: 18px;">දිනක් එයි අප හමුවනා..</b>﻿<br><br>

				<audio controls>
			 		 <source src="app/views/audios/math_mage.mp3" type="audio/mpeg">
				</audio>

				<div>
					<br><br>
					ඒ ආදරේ ඇත්තටම හරිම පුදුමයි. එයා දාල ගියොත් මං ලගට එන ඒ ආදරේ.. <br>
					ඇත්තටම මාව දාල තියෙන්නේ ඒ තැනටද කියල හිතෙද්දි මාරම දුකයි ..<br>
					මොකද එහෙම උනේ නැත්තන් කවදාවත් ඒ ආදරේ මට හම්බෙන්නේ නෑ <br>
					ඔයා මට ගොඩක් බොරු කියල ඇති .... එත් එදා මාව දාල ගිය වෙලාවෙ  cc<br>
					එක ලගදී එක ඇත්තක් කිව්වා .. මං තරම් ඔයාට වෙන කෙනෙක් ආදරේ නෑ කියල <br>
					කවුරු මොනව කිව්වත් මං තරම් ඔයාට වෙන කෙනෙක් ආදරේ කරන එකක් නෑ ..<br>
					එහෙම මං හැමදාම ආදරේ කරන්න හිටපු කෙනා නේද මේ දාල යන්නේ කියල මතක් උනා <br>
					එකයි එවෙලෙ මං අඩන්නෙ ඇත්තෙ ... <br>
					එත් ඔයා හිතේ තියන දේ කියන්නැති ... ඔයාට වෙන කෙනෙක් ඉන්නවා අමතක කරන්න බැරි ... <br>
					මටත් ඉන්නව එහෙම අමතක කරන්න බැරි කෙනෙක් ...<br>
					ඒ කෙනාට ඉන්නවන හැබැයි අමතක කරන්න බැරි වෙන කෙනෙක්<br>
					ඔයාට ඒක නිසා වෙන්නැති මේක නවත්තන්න පුළුවන් කියල හරි කිව්වෙ ...<br>
					මට එකට කියන්න මුකුත් නෑ ..මොකද ඔයා එපා කිව්වොත් මට කොහොමත් යන්න වෙන  නිසා ..<br>
					මමනේ මෙතන අදාල නැති කෙනා .. ඔයාට එහෙම නවත්තන්න පුළුවන් කියන්න හේතු තියනවා .<br>
					ඒත් මට කිසිම හේතුවක් නෑ එහෙම නවත්තන්න .. කවද හරි එනකං ඉන්නවනෙ මං හැමවෙලේම වගෙ <br>
					දාල යන එක මට කරන්න බැරි වැඩක් ... <br>
					ඒ වගේමයි වෙන කෙනෙක් එක්ක ඔයා ඉන්නව බලන් ඉන්න බැරි එකත් ... <br>
					පුදුම වෙන්න එපා මං මේ ඉන්න විදිය ගැන .. කොහොමත් ඒ ඉන්න විදියට ඔයා මට බනිවි ..<br> 
					මැරෙන්න බැරි නිසා ඉන්නවා මිසක් කිසිම aim එකක් නෑ දැන් මට ..<br>
					මට අයිති නැති දේවල් මට ඉල්ලන්න බෑ ...<br>
					මොකද මං ඉල්ලපු ,හිතපු  දේට .. මං කවදාවත් බලාපොරොත්තු උනේ නැති උත්තරයක් ලැබුනා <br>
					කමක් නෑ ඒ ඔයානේ .. එත් මං හැමදාමත් බලන් ඉදිවී කොහේ හරි ඉදං ... <br> 

				</div>			
					
			  </div>
			</div>
		</div>
	</div>

	<!-- song 02 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#02</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				සදක් වෙන්න බැරි නම් නුබ හට - ඉරක් වෙන්න හැකිදෝ මා හට <br>
				වෙහෙස දැනෙන මේ ජිවිතේ<br><br>

				<b style="font-size: 18px;">වැවක් වෙන්න බැරි තැන නුබ හට - ඇයි ද කිව්වේ වෙන්න නිල දිය </b><br>
				දුකක් ඉතිරි මේ ජිවිතේ ﻿<br><br><br>

				සීත සෘතුවකට වෙලා මියයන්න නම් එපා .. පෙම් කවක් ලියන්න <br>ආසයි මට තවත් ... <br>
				සෘතුවක් ඇතත් නැතත් හුස්මලන සිතුම් .. පණ ගසයි ඔබේ දෙපා <br>මුල වැටී .... <br><br><br>

				<b style="font-size: 18px;">මා නොමැති හෙටක් ඇතත්  පිපෙන මල් යලිත් පිපෙයි </b> .. හිරු<br> එලිය ඇවිත් තව දවසක් උදා වී ...<br>
				හමනා ඒ සුළං රැලිත් නෙත් කොනින් ලගින් හමයි .. නෙතු <br>අගින් වැටෙන ඒ කඳුලැල් සීතලයි ...<br><br><br>

				<audio controls>
			 		 <source src="app/views/audios/sadak_wenna.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>
	<br><br><br>
	<!-- song 01 -->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#01</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				දිනෙක මගේ දිවි ගමනේ <br>
				මට හිමි නැති හදවත ඔබගේ <br>
				කාටත් කලින් මාගෙ වෙන්න <br>
				ආයේ ලබන ජන්මයේ <br>
				ඔබෙ අත ගන්නට ඒ බවේ .... <br><br>

				හමුවෙලා රැඳුනු කාලයේ මාගෙ ළඟින් ඔයා  <br>
				වරදවා දැනුනෙ හිත ඔබේ ආදරෙයි මට කියා <br>
				මට සමාවෙන්න ඒ වරද කෙරුවත් එදා <br>
				කාටත් කලින් මාගෙ වෙන්න <br>
				ආයේ ලබන ජන්මයේ <br>
				ඔබෙ අත ගන්නට ඒ බවේ .... <br><br>

				සැරසිලා ඉන්න පෙම්වතුන් දකින විටත් මෙදා <br>
				සිහිවෙලා ඔබව නෙතු අගේ පාළුවෙන් තැවෙනවා  <br>
				මට ඔයා වටිනවා ජීවිතේටත් වඩා <br>
				<b style="font-size: 18px;">කාටත් කලින් මාගෙ වෙන්න <br>
				ආයේ ලබන ජන්මයේ <br>
				ඔබෙ අත ගන්නට ඒ බවේ </b> ....﻿<br><br>

				<audio controls>
			 		 <source src="app/views/audios/dineka_mage.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>

	<!-- image -->
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
				<img src="app/views/images/seabird.jpg" class="img-responsive">
		</div>
	</div>

	


</div>
<div ng-controller="AdminRequestController" ng-init="loadPage()"> </div>
	
	