


<div >
	
	<!-- song 14 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#14</h3>
			  </div>
			  <div class="panel-body text-center" >
					
				<br>
				මතකයන් අමතක කෙරුවත් <br> 
				අමතක වෙන්නේ නෑ <br>
				ඔබ එපා යැයි මට සිතුනත් <br>
				එපා වෙන්නේ නෑ <br>
				යළි ඒවි යැයි සිත කීවත් <br>
				ඔබ යළි එන්නේ නෑ <br>
				සිත පුරා ආදරේ කරන්නට මට දැන් කව්රුත් නෑ<br><br>


				අඬ අඬා මම කල් ගෙව්වත් <br>
				ඔබ ලැබෙන්නේ නෑ<br>
				නොලැබෙනා බව මම කිව්වත් <br>
				සිත පිළිගන්නෙත් නෑ <br>
				මම නොමැති ලොවකවදාවත් <br>
				ඔබ තනි වෙන්නේ නෑ <br>
				ඔබ නොමැති ලොව කවදාවත් <br>
				මට සිතේ සතුටක් නෑ <br><br>

				සිහිවෙනා හැම මොහොතකදී <br>
				නොසිත ඉන්නත් බෑ<br>
				හුදකලාවේ ඉන්නට සිතුවත් <br>
				එහෙම ඉන්නත් බෑ <br>
				සිත සිතා ඔබ ගැන හැමදාමත් <br>
				මට අඬන්නත් බැ <br>
				ඔබ නැති පාළුව මට දැනුනත් <br>
				වෙනස් වෙන්නත් බෑ<br><br>

				

				<audio controls>
			 		 <source src="app/views/audios/mathakayan.mp3" type="audio/mpeg">
				</audio>

				<br><br>

			  </div>
			</div>
		</div>	
	</div>


	<!-- song 13 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#13</h3>
			  </div>
			  <div class="panel-body text-center" >
					
				
				Every moment life is changing <br>
				Sometime there's shade, at times sun <br>
				Live every moment to the fullest <br>
				This very moment<br>	 
				May not be there tomorrow  <br> <br>

				
				The one who Loves you whole-heartedly<br>
				Is very difficult to come by<br>
				If there is someone like that somewhere<br>
				She is the most beautiful <br>
				You may hold her hand<br>
				She may not be there tomorrow<br><br>


				To the shadow of your eyes<br>
				When someone comes<br>
				Get hold of your crazy heart<br>
				It'll keep on beating<br>
				Remember that, this moment,<br>
				This story, may not be there tomorrow<br><br>

				

				<audio controls>
			 		 <source src="app/views/audios/kal_ho_naa_ho.mp3" type="audio/mpeg">
				</audio>

				<br><br>

				<audio controls>
			 		 <source src="app/views/audios/miriguwa_nowe.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>

	<!-- song 12 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#12</h3>
			  </div>
			  <div class="panel-body text-center" >
					
				දෛයිවයෝගයකින් නොවේදෝ <br>
				හමු උනේ අප හමු උනේ<br>
				දෛය්වයේ සරදම් ලබන්නට <br>
				කීම මෙසේ අප හමු උනේ <br><br>

				අදුරුතුමියයි ප්‍රේමයේ ඔබ <br>
				අදුරුතුමියයි යව්වනේ <br>
				ශෝකයේ රුදු වේදනාවේ<br>
				කදුළු සයුරේ උල්පතයි<br><br>

				නදුන් උයනයි ප්‍රේමයේ ඔබ<br>
				සදුන් සිසිලයි ජීවිතේ <br>
				සොම්නසේ ආනන්දයේ<br>
				හසරැල් තරන්ගේ උල්පතයි<br><br>


				

				<audio controls>
			 		 <source src="app/views/audios/daiwayogaykin.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>

	<!-- song 11 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-danger">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#11</h3>
			  </div>
			  <div class="panel-body text-center" >
					
				තව දවසක් හමු වී ඉමු මේ භවේ <br>
				එක සැරයක් දුටුවත් ඇති දෑස් ඔබේ<br>
				<b style="font-size: 18px">ඔබ වෙනුවෙන් හැඬුව තරම් කියන්න හීං සැරේ</b><br>
				තව දවසක් හමු වී ඉමු මේ භවේ<br><br>

				මදපවනේ මුසු කෙරුවේ<br>
				යළි නොඑනා මතක අපේ<br>
				නිදි පැදුරේ ගෙවන පැයේ<br>
				සිහි කෙරුවා සුවඳ ඔබේ<br>
				ජිවිතේ පාළුයි මගේ<br><br>

				

				තරු දෙවැටේ පිපෙන සඳේ<br>
				දුක වැඩලා ලොවට අපේ<br>
				කිරි සයුරේ මුතු පතුලේ<br>
				සැඟව ගියා මැණික මගේ<br>
				ආදරේ ගීයක් වගේ<br><br>

				

				<audio controls>
			 		 <source src="app/views/audios/thawa_dawasak.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>


	<!-- song 10 -->
    <br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#10</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				ඔබේ සිනා ලග නෙතු නවතුනු දා <br>
				ඔබේ සින ලග සිත නවතුනු දා<br>
				ප්රේමය හෑදින්නෙම්<br>
				ප්රේමය හෑදින්නේමි<br>
				මෙ ලො තලයේ<br>
				කුමටද උපමා ඉතිහසේ උන්<br>
				ප්‍රේමවන්තයින්ගෙන් <br>
				කුමටද ආදරයේ පෙම් සමරුම් පෙම්<br>
				පාරදිසයෙන්<br>
				ඉමක් කොනක් නෑති ආකාසේ තරු<br>
				පායා ඒනසේ මා<br>
				ඉමක කොනක් නෑත පෙම් හදවත් තුල පෙම්<br>
				සිතුවිලි බොඅමා<br>
				ඔබේ සිනා ලග නෙතු නවතුනු දා<br>
				ඔබේ සින ලග සිත නවතුනු දා<br>
				ප්රේමය හෑදින්නෙම්<br>
				<b style="font-size: 18px">ප්රේමය හෑදින්නේමි<br>
				මෙ ලො තලයේ﻿</b><br><br>


				<audio controls>
			 		 <source src="app/views/audios/obe_sina.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>


	<!-- song 09 -->
    <br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-warning">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#09</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				මගේ නොපෙනෙන ආදරේ.. <br>
				පෙනෙන දුරකට ගෙන්නෙපා..<br>
				දුටු නමුත් මගෙ ආදරේ..<br>
				දුටුව බව හඟවනු එපා..<br><br>

				සසරෙ හමුවී පුරුදු ඇති මුත්<br>
				පුරුදු බව පවසනු එපා...<br>
				<b>මට කලින් පෙම ඔහුට දුන් බව..<br>
				යලි යලිත් පවසනු එපා..</b><br><br>

				සිහින අතරින් පෙනුනු සිහිනය <br>
				සිහිනයකි සඟවනු එපා...<br>
				දකින දුරකින් ලඟින් ඉන්නම් <br>
				පෙනුනු බව පෙන්වනු එපා..<br><br>


				<audio controls>
			 		 <source src="app/views/audios/mage_nopenena.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>

	<!-- song 08 -->
    <br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#08</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				තනිවී සිටින්නයි මා අදහස් කලේ <br>
				ඔබමයි සොයා ඇවිදින් එය වෙනස් කලේ <br>
				පහදා කියූවත් නෑ සවන් යොමු කලේ<br>
				වේදනා පිරි ලොවක් ඔබයි බිහි කලේ<br><br>

				මගේ පාලු ලෝකයේ තනි වූ මෙමා<br>
				සක්විති රජුන් හමුවේ නැත හිස නමා<br>
				සිතිවිලි මගේ හසුරා ගත හැක නමා<br>
				මට දුක හිතෙන්නේ ඔබ ගැන තමා<br><br>

				ඔබෙ චේතනා අගනා මාසිත දනී<br>
				අවට ලෝකයේ බැලුම් විසක‍ටු වැනී<br>
				ඒ ක‍ටු අපේ දෙහදේ ගැබුරේ ඇනී<br>
				ගලන දුක් වේදනා රුධිරය වැනී<br><br>


				<audio controls>
			 		 <source src="app/views/audios/thaniwee_sitinnai.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>



	<!-- song 07 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#07</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				මගේ වෙලා ලග උන්නු ඔයා <br>
				මටත් හොරෙන් වෙන කෙකුගේ වෙලා <br>
				හිත අඩනවා තුන්යම නොනිදා <br>
				මගේ පන තාමත් ඔයා නිසා ...<br><br>

				<b style="font-size: 18px">හුස්මේ පවා ඉන්නේ ඔයා නිතරම මට සිහිවෙනවා<br>
				මැව්වේ ඔයා මටම කියා හදවත මට පවසනවා</b><br><br>

				සිතු පැතුමන් පොඩි  කර දමලා යන්නට ගියාට ඈත් වෙලා <br>
				හිතකින්ද  මුළු ජිවිතේ මා ලගම  සැනසුනේ <br>
				පාළුවේ මා තනිවී ජිවිතේ රිදවනවා <br>
				වෙනසක් නෑ මගේ ආදරේ ඔබේ නමටයි මුළු ජිවිතේ <br><br>

				හද ගැඹුරේ වේදනා ඇති මට විතරක් දුක උරුම උනී <br>
				බොරුවෙන්ද මගෙ ජිවිතේ ලං ලංව ඔබ රැවටුවේ <br>
				පාළුවේ මා තනිවී ජිවිතේ රිදවනවා <br>
				වෙනසක් නෑ මගේ ආදරේ ඔබේ නමටයි මුළු ජිවිතේ <br><br>


				<audio controls>
			 		 <source src="app/views/audios/mage_wela.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>

	<!-- song 06 -->
    <br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#06</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				නටුවෙන් ගිලිහුනු පින්න මලක්‌ <br>
				සුළගට පාව ඇවිත්... <br>
				මගෙ හද මඩලේ නතර වෙලා...<br>
				සෙනෙහසෙ සුව විදිමින්...<br><br>

				නටු අග පිපුනට ලස්‌සන වන මල්<br>
				කවුරුත් නෑ එහි රුව දුටුවේ<br>
				පින්න කැකුලියේ ඔබෙ සුවදින්<br>
				මගෙ ජීවිත උයනම සුවද උනේ<br>
				ලස්‌සන පින්න මලේ..<br>
				ඔබ සුවදයි සෑම දිනේ..<br>
				මගෙ හද ගත්ත ලදේ..<br>
				ඔබ මගෙමයි සෑම දිනේ...<br><br>

				නටුවෙන් ගිලිහුන පින්න මලක්‌.....<br>
				බැද්දෙ පිපුනු මල ඉබේ පර නොවී<br>
				ගත්ත නිසා මගෙ හදේ ලැගුම්<br>
				පින්න කැකුලියේ ඔබ සුරකින්නම්<br>
				තියෙන තුරා මගෙ හදේ සුසුම්<br><br>

				ලස්‌සන පින්න මලේ..<br>
				ඔබ සුවදයි සෑම දිනේ..<br>
				මගෙ හද ගත්ත ලදේ..<br>
				<b style="font-size: 18px">ඔබ මගෙමයි සෑම දිනේ.....</b><br>
				නටුවෙන් ගිලිහුන පින්න මලක්‌.........<br><br>


				මේ  එකක් හරි ඇත්ත කරගන්න උදව් කරන්න පුලුවන් නම්  ....  <br><br>
				<audio controls>
			 		 <source src="app/views/audios/natuwen_gilihunu.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>




	



	<!-- song 05 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-danger">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#05</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				ලියු කවි පද හදක් අතරේ.... <br>
				ලියාගන්නට බැරිව ලතවුණු....<br>
				එකම එක දිග පුංචි කවියක්....<br>
				තවම ලියනවා මං....<br>
				තවම ලියනවා මං....<br><br>

				නුබේ සුවද රැදී පපුව ගැබුරේ...<br>
				කියා ගැනද බැරිව සිර වුනු<br>
				එකම එක දිග පුංචි පැතුමක්<br>
				තවම පතනවා මන්...<br>
				තවම පතනවා මන්... <br><br>

				සදවතක රැදී සදළු තලයක <br>
				තරු කැටත් දී... <br>
				වැටුණු දවසක <b style="font-size: 18px">ලතෙක් සෙනහස<br>
				නුබේ සිත ලග රැදී නොතිබුණි නම් </b><br>
				මගේ දරදඩු පිරිමි හිත යට<br>
				කදුළු නැහැ එහෙනම්  <br><br>

				<audio controls>
			 		 <source src="app/views/audios/liyu_kavi.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>



	<!-- song 04 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-info">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#04</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				සිනා තොටක් විය ඔබ පාමුල මා ලද සරදම්<br>
				මහෝඝයක් විය ඔබෙන් ලැබූ අපමණ අබිමන්<br>
				නොහඬා ඉන්නම් ගිලිහුණු දා පෙම් ලොව මල් දම්<br>
				<b style="font-size: 18px;">දුටුව නිසා ආදරයේ දෙව් රුව ඔබගෙන් මං </b>....<br><br>

				බෝසත් ඔබ සිත ළඟ උවැසිය වී දැහැනට වී<br>
				සිටියා මිස නොදනිමි කොහි සිටියා දැයි මල වී<br>
				පුදසුන් මත මිය යද්දී සහසක් මල් පර වී<br>
				නොපිදූ මල තවමත් ඇත ඔබ ගැන බැතිබර වී....<br><br>

				මගෙන් මිදුණු ලොව ඔබට මිහිරි නම් එය සැපකී<br>
				ඔබට ළංව දුක බෙදා ගන්න බැරිකම දුකකී..<br>
				මෙවැනි බැඳුම් අදහනු බැරි ලෝකය සිර ගෙයකී<br>
				එවන් ලොවක මේ හමුවීමත් වාවනු නොහැකී....<br><br>

				<audio controls>
			 		 <source src="app/views/audios/sina_thotak.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>



	<!-- song 03 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-warning">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#03</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				රාත්රිය මනරම් කියා <br>
				සඳට තරුවට කවි ලියා <br>
				මාත් මගේ හිත හදාගන්නම් <br>
				නුඹත් මා ලඟ නැති නිසා<br><br>

				මගේ කවියක පද ගයා<br>
				දෑස් දෙකොනේ තෙත තියා<br>
				නුඹත් රෑ නිදි වරාගෙන ඇති<br>
				මාත් නුඹ ලඟ නැති නිසා<br><br>

				හිරු සඳුත් හමුවෙන් නැතේ<br>
				එකම අහසේ පායනා<br>
				ඉතින් දුක් වෙන්නේ කිමද අපි<br>
				<b style="font-size: 18px;">දිනක් එයි අප හමුවනා..</b>﻿<br><br>

				<audio controls>
			 		 <source src="app/views/audios/math_mage.mp3" type="audio/mpeg">
				</audio>

				<div>
					<br><br>
					

				</div>			
					
			  </div>
			</div>
		</div>
	</div>

	<!-- song 02 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#02</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				සදක් වෙන්න බැරි නම් නුබ හට - ඉරක් වෙන්න හැකිදෝ මා හට <br>
				වෙහෙස දැනෙන මේ ජිවිතේ<br><br>

				<b style="font-size: 18px;">වැවක් වෙන්න බැරි තැන නුබ හට - ඇයි ද කිව්වේ වෙන්න නිල දිය </b><br>
				දුකක් ඉතිරි මේ ජිවිතේ ﻿<br><br><br>

				සීත සෘතුවකට වෙලා මියයන්න නම් එපා .. පෙම් කවක් ලියන්න <br>ආසයි මට තවත් ... <br>
				සෘතුවක් ඇතත් නැතත් හුස්මලන සිතුම් .. පණ ගසයි ඔබේ දෙපා <br>මුල වැටී .... <br><br><br>

				<b style="font-size: 18px;">මා නොමැති හෙටක් ඇතත්  පිපෙන මල් යලිත් පිපෙයි </b> .. හිරු<br> එලිය ඇවිත් තව දවසක් උදා වී ...<br>
				හමනා ඒ සුළං රැලිත් නෙත් කොනින් ලගින් හමයි .. නෙතු <br>අගින් වැටෙන ඒ කඳුලැල් සීතලයි ...<br><br><br>

				<audio controls>
			 		 <source src="app/views/audios/sadak_wenna.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>
	<br><br><br>
	<!-- song 01 -->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#01</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				දිනෙක මගේ දිවි ගමනේ <br>
				මට හිමි නැති හදවත ඔබගේ <br>
				කාටත් කලින් මාගෙ වෙන්න <br>
				ආයේ ලබන ජන්මයේ <br>
				ඔබෙ අත ගන්නට ඒ බවේ .... <br><br>

				හමුවෙලා රැඳුනු කාලයේ මාගෙ ළඟින් ඔයා  <br>
				වරදවා දැනුනෙ හිත ඔබේ ආදරෙයි මට කියා <br>
				මට සමාවෙන්න ඒ වරද කෙරුවත් එදා <br>
				කාටත් කලින් මාගෙ වෙන්න <br>
				ආයේ ලබන ජන්මයේ <br>
				ඔබෙ අත ගන්නට ඒ බවේ .... <br><br>

				සැරසිලා ඉන්න පෙම්වතුන් දකින විටත් මෙදා <br>
				සිහිවෙලා ඔබව නෙතු අගේ පාළුවෙන් තැවෙනවා  <br>
				මට ඔයා වටිනවා ජීවිතේටත් වඩා <br>
				<b style="font-size: 18px;">කාටත් කලින් මාගෙ වෙන්න <br>
				ආයේ ලබන ජන්මයේ <br>
				ඔබෙ අත ගන්නට ඒ බවේ </b> ....﻿<br><br>

				<audio controls>
			 		 <source src="app/views/audios/dineka_mage.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>

	<!-- image -->
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
				<img src="app/views/images/seabird.jpg" class="img-responsive">
		</div>
	</div>

	


</div>
<div ng-controller="AdminRequestController" ng-init="loadPage()"> </div>
	
	
