<div>

	<!-- song 02 -->
	<br><br><br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#02</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				සදක් වෙන්න බැරි නම් නුබ හට - ඉරක් වෙන්න හැකිදෝ මා හට <br>
				වෙහෙස දැනෙන මේ ජිවිතේ<br><br>

				වැවක් වෙන්න බැරි තැන නුබ හට - ඇයි ද කිව්වේ වෙන්න නිල දිය<br>
				දුකක් ඉතිරි මේ ජිවිතේ ﻿<br><br><br>

				සීත සෘතුවකට වෙලා මියයන්න නම් එපා .. පෙම් කවක් ලියන්න <br>ආසයි මට තවත් ... <br>
				සෘතුවක් ඇතත් නැතත් හුස්මලන සිතුම් .. පණ ගසයි ඔබේ දෙපා <br>මුල වැටී .... <br><br><br>

				මා නොමැති හෙටක් ඇතත්  පිපෙන මල් යලිත් පිපෙයි .. හිරු<br> එලිය ඇවිත් තව දවසක් උදා වී ...<br>
				හමනා ඒ සුළං රැලිත් නෙත් කොනින් ලගින් හමයි .. නෙතු <br>අගින් වැටෙන ඒ කඳුලැල් සීතලයි ...<br><br><br>

				<audio controls>
			 		 <source src="app/views/audios/sadak_wenna.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>
	<br><br><br>
	<!-- song 01 -->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" >#01</h3>
			  </div>
			  <div class="panel-body text-center" >
	
				දිනෙක මගේ දිවි ගමනේ <br>
				මට හිමි නැති හදවත ඔබගේ <br>
				කාටත් කලින් මාගෙ වෙන්න <br>
				ආයේ ලබන ජන්මයේ <br>
				ඔබෙ අත ගන්නට ඒ බවේ .... <br><br>

				හමුවෙලා රැඳුනු කාලයේ මාගෙ ළඟින් ඔයා  <br>
				වරදවා දැනුනෙ හිත ඔබේ ආදරෙයි මට කියා <br>
				මට සමාවෙන්න ඒ වරද කෙරුවත් එදා <br>
				කාටත් කලින් මාගෙ වෙන්න <br>
				ආයේ ලබන ජන්මයේ <br>
				ඔබෙ අත ගන්නට ඒ බවේ .... <br><br>

				සැරසිලා ඉන්න පෙම්වතුන් දකින විටත් මෙදා <br>
				සිහිවෙලා ඔබව නෙතු අගේ පාළුවෙන් තැවෙනවා  <br>
				මට ඔයා වටිනවා ජීවිතේටත් වඩා <br>
				කාටත් කලින් මාගෙ වෙන්න <br>
				ආයේ ලබන ජන්මයේ <br>
				ඔබෙ අත ගන්නට ඒ බවේ ....﻿<br><br>

				<audio controls>
			 		 <source src="app/views/audios/dineka_mage.mp3" type="audio/mpeg">
				</audio>			
					
			  </div>
			</div>
		</div>
	</div>

	<!-- image -->
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
				<img src="app/views/images/seabird.jpg" class="img-responsive">
		</div>
	</div>

	


</div>
<div ng-controller="AdminRequestController" ng-init="loadPage()"> </div>
	
	