<div class="row">
	<div class="col-md-10 col-md-offset-1 jumbotron text-center"> <b style="font-size: 30px;"> Be Happy <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> </b> </div>
</div>

<div class="row">
	<div class="col-md-9 col-md-offset-3">
		<iframe id="player_frame" name="iframe" width="640px" height="490px" frameborder="0" allowfullscreen="true" scrolling="no" marginheight="0" marginwidth="0" webkitallowfullscreen="" mozallowfullscreen="" src="http://cdn.crichd.im/embed2.php?id=ten2"></iframe>
	</div>
</div>