<div class="container" ng-controller="RegisterController" ng-if="main.user.type=='admin'">
	<div class="">

		<div class="">
				
			<h3 class="text-center">Sign Up</h3><br><br>
			<div class="alert alert-success alert-dismissible text-center" ng-show="success" >
                <a href="#" class="close" data-dismiss="alert" ng-click="closeMsg()" aria-label="close">&times;</a>
                <strong class="text-center"> {{successMessage}} </strong>
            </div>
            <div class="alert alert-danger alert-dismissible text-center" ng-show="danger" >
                <a href="#" class="close" data-dismiss="alert" ng-click="closeMsg()" aria-label="close">&times;</a>
                <strong class="text-center"> {{successMessage}} </strong>
            </div>
			<form method="post" class="form-signin" ng-submit="register()" name="signupForm">

				<div class="row">
					<div class="col-md-8 col-sm-8 col-md-offset-2">
						<div class="text-center"><b><span class="glyphicon glyphicon-user" style="color:black;padding-right: 14px;" aria-hidden="true"></span>Name</b></div>
						<input type="text" name="name" class="form-control" ng-model="userData.name" ng-maxlength="10" required="true"><br>
						<div ng-messages="signupForm.name.$error">
						  <div ng-message="maxlength">100</div>
						</div>
					</div>
				</div>
				
				<div ng-controller="signup" class="row">
					<div class="col-md-8 col-sm-8 col-md-offset-2">
					<div class="text-center"><b><span class="glyphicon glyphicon-user" style="color:black;padding-right: 14px;" aria-hidden="true"></span>Username</b></div>
						<input type="text" name="username" class="form-control" id="user.userData.username"  ng-model="userData.username" ng-keyup="checkUsername(userData.username)" required="true"><br>
					</div>
					<div class="col-md-2 ng-class="addClass(unamestatus)" > <br>{{ unamestatus }}</div>
					
				</div>

				<div  class="row">
					<div class="col-md-8 col-sm-8 col-md-offset-2">
						<div class="text-center"><b><span class="glyphicon glyphicon-eye-open" style="color:black;padding-right: 14px;" aria-hidden="true"></span>Password</b></div>
						<input type="password" name="password" class="form-control"  ng-model="userData.password" required="true"><br>
					</div>
					
				</div>

				<div  class="row">
					<div class="col-md-8 col-sm-8 col-md-offset-2">
						<div class="text-center"><b><span class="glyphicon glyphicon-pencil" style="color:black;padding-right: 14px;" aria-hidden="true"></span>Employee ID</b></div>
						<input type="text" name="empID" class="form-control"  ng-model="userData.empID" required="true"><br>
					</div>
					
				</div>

				<div  class="row">
					<div class="col-md-8 col-sm-8 col-md-offset-2">
						<div class="text-center"><b><span class="glyphicon glyphicon-list-alt" style="color:black;padding-right: 14px;" aria-hidden="true"></span>Total Leaves</b></div>
						<input type="number" name="tleaves" class="form-control"  ng-model="userData.tleaves" min="30" max="100" required="true"><br>
					</div>
					
				</div>





				
				
				<br>

				<div class="row" >
				<div class="col-md-8 col-sm-8 col-md-offset-2 text-center">
					<div class="text-center"><b><span class="glyphicon glyphicon-user" style="color:black;padding-right: 14px;" aria-hidden="true"></span>User Type</b></div><br>
				    <label class="radio-inline">
				      <input type="radio" name="type" ng-value="'admin'" ng-model="userData.type" >Admin
				    </label>
				    <label class="radio-inline">
				      <input type="radio" name="type" 
				     ng-value="'employee'" ng-model="userData.type" >Employee
				    </label>
				    <br><br><br>
				    <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-success text-center" style="padding-left: 260px; padding-right: 260px;">Sign Up</button>
				 </div>   
				</div>

				
				<br><br>
				



				
				
			</form>
		</div>
	</div>
</div> 

<div ng-if="!main.user.type=='admin'">
	<br><br><br>
	<div class="jumbotron text-center animated infinite pulse">
		<h1>Page Not Found</h1> 
		<br>
		<h3> <span class="badge" style="font-size: 40px;">404</span> </h3>
	</div>
</div>