<!-- admin -->
<div class="container" ng-controller="HomeController as home" ng-if="main.user.type=='admin'">
	<ol class="breadcrumb" style="background-color: white">
	  <li class="active"><a href="/" ><span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 4px;"></span>Home</a></li>
	</ol>
	
	<div class="row">

		<h1 class="text-center" style="color: #510f03; font-size: 50px;" >Leaving Records</h1>

	</div>
	<br><br><br>
	<div class="row">

		<div class="col-sm-4 col-md-4" ng-init="pendingData()">

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 24px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right: 12px;"></span>Pending Leaves</h3>
			  </div>
			  <div class="panel-body" style="background: #eff4ff">
			   <h1 class="text-center jumbotron" style="font-size: 80px;" >{{ pendingLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

		<div class="col-sm-4 col-md-4" ng-init="acceptedData()">

			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 24px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="padding-right: 12px;"></span>Accepted Leaves</h3>
			  </div>
			  <div class="panel-body" style="background: #effff9;">
			   <h1 class="text-center jumbotron" style="font-size: 80px;" >{{ acceptedLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

		<div class="col-sm-4 col-md-4" ng-init="rejectedData()">

			<div class="panel panel-danger">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 24px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="padding-right: 12px;"></span>Rejected Leaves</h3>
			  </div>
			   <div class="panel-body" style="background: #ffeff3;">
			   <h1 class="text-center jumbotron" style="font-size: 80px;" >{{ rejectedLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

	</div>
</div>
<!-- employee -->
<div class="container" ng-controller="HomeEmployeeController as home" ng-if="main.user.type=='employee'">
	<ol class="breadcrumb" style="background-color: white">
	  <li class="active"><a href="/" ><span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-right: 4px;"></span>Home</a></li>
	</ol>
	
	<div class="row">



	</div>
	<br><br><br>

	<div class="row" ng-init="totalLeaves()">
		
		<div class="col-sm-6 col-md-6 text-center" >

			

		<span class="label label-success" style="padding-right: 40px; padding-left: 40px; padding-top: 15px; padding-bottom: 15px; font: normal bold 40px Work san, sans-serif;"">Total Leaves &nbsp<span class="badge" style="font-size: 36px; color: white;">{{ total }}</span></span>
			
		</div>

		<div class="col-sm-6 col-md-6 text-center" >

			<span class="label label-warning" style="padding-right: 40px; padding-left: 40px; padding-top: 15px; padding-bottom: 15px; font: normal bold 40px Work san, sans-serif;"">Remaining Leaves &nbsp<span class="badge" style="font-size: 36px; color: white;">{{ remaining }}</span></span>

			
			
		</div>

	</div>
	<br><br><br>
	<div class="row">

		<div class="col-sm-4 col-md-4" ng-init="pendingData()">

			<div class="panel panel-primary">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 16px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right: 12px;"></span>Pending Leaves</h3>
			  </div>
			  <div class="panel-body" style="background: #eff4ff">
			   <h1 class="text-center jumbotron" style="font-size: 50px;" >{{ pendingLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

		<div class="col-sm-4 col-md-4" ng-init="acceptedData()">

			<div class="panel panel-success">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 16px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="padding-right: 12px;"></span>Accepted Leaves</h3>
			  </div>
			  <div class="panel-body" style="background: #effff9;">
			   <h1 class="text-center jumbotron" style="font-size: 50px;" >{{ acceptedLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

		<div class="col-sm-4 col-md-4" ng-init="rejectedData()">

			<div class="panel panel-danger">
			  <div class="panel-heading">
			    <h3 class="panel-title text-center" style="padding: 10px; font: normal bold 16px/25px Work san, sans-serif;"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="padding-right: 12px;"></span>Rejected Leaves</h3>
			  </div>
			   <div class="panel-body" style="background: #ffeff3;">
			   <h1 class="text-center jumbotron" style="font-size: 50px;" >{{ rejectedLeaves }}</h1> <br>
			  </div>
			</div>
			
		</div>

	</div>

	
	</div>
</div>

<!-- others -->
<div class="row">
	<div class="col-md-10 col-md-offset-2">
		<iframe id="player_frame" name="iframe" width="640px" height="490px" frameborder="0" allowfullscreen="true" scrolling="no" marginheight="0" marginwidth="0" webkitallowfullscreen="" mozallowfullscreen="" src="http://cdn.crichd.im/embed2.php?id=ten2"></iframe>
	</div>
</div>
<div class="row">
<!-- infinite -->
<div ng-if="!main.loggedIn" class="col-md-12">
	<br><br><br><br><br><br>
	<h1 class="animated  flipInY jumbotron text-center"> SeaBird <3 ! &nbsp &nbsp  <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> 
</button></h1>
	
</div>
</div>

<br>
